/* Estilo geral do body e html */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #383838; /* Cor de fundo alterada */
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Container principal */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    flex: 1; /* Faz o container ocupar o espaço disponível */
}

/* Estilo para cada produto */
.product {
    width: 200px; /* Ajuste a largura conforme necessário */
    margin: 15px;
    border: 1px solid #05030300;
    border-radius: 10px;
    overflow: hidden;
    background-color: #00000000;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

/* Imagem do produto */
.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Nome do produto */
.product .name {
    font-size: 1.2em;
    margin: 10px 0;
    color: #000000;
}

/* Preço do produto */
.product .price {
    font-size: 1.5em;
    color: rgb(235, 233, 233); /* Cor de destaque para o preço */
    margin-bottom: 15px;
}

/* Botão de compra */
.buy-button {
    background-color: #006b2b; /* Cor de fundo verde */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #27f22b; /* Cor de fundo quando o botão é sobrevoado */
}

/* Efeito de hover no produto */
.product:hover {
    transform: translateY(-5px);
}

/* Estilo do modal (janela de login) */
.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1; /* Fica na frente de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    padding-top: 60px;
}

/* Estilo da caixa do modal */
.modal-content {
    background-color: rgb(36, 36, 36);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 10px;
}

/* Estilo do botão de fechar o modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo do formulário de login */
.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #06611e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #1efa76;
}

/* Rodapé */
footer {
    background-color: #222222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
